body {
  font-family: Helvetica, sans-serif;
}
ul {
  list-style: none;
}

.artist i {
  opacity: .7;
}
.name {
  display: flex;
  align-items: center;
}
.name h3 {
  padding: 0 10px;
}
.details ul li {
  padding-bottom: 7px;
}
