<h1>People Lists</h1>


<div class="container">
  <div class="menu">
    {{#link-to 'scientists'}}Scientists{{/link-to}}
    {{#link-to 'artists'}}Artists{{/link-to}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
