{{outlet}}
<div class="content">
  <h2>List of Artists</h2>


{{#list-filter
  filter=(action 'filterByMovement') as |artists|}}
  <ul class="results">
    {{#each artists as |artist|}}
      <li>{{artist-list artist=artist}}</li>
    {{/each}}
  </ul>
{{/list-filter}}

</div>
